<!-- Navigation -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="/">On Call Rota</a>
    </div><!-- /.navbar-header -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for nav in current %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{nav.onCallLocation['locationCode']}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ url('location', { post: nav.onCallLocation['locationCode'] }) }}"><span class="glyphicon glyphicon-th-list"></span> View</a></li>
              <li><a href="#{{nav.onCallLocation['locationCode']}}edit"><span class="glyphicon glyphicon-pencil"></span> edit</a></li>
              <li><a href="#{{nav.onCallLocation['locationCode']}}delete"><span class="glyphicon glyphicon-remove"></span> delete</a></li>
            </ul>
          </li>
        {% endfor %}
      </ul>
      <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
              <ul class="nav navbar-nav">
                {% for now in current %}
                  <li><a href="tel:{{ now.techID['technicianPhone'] }}"><span class="glyphicon glyphicon-earphone"></span> Call {{ now.onCallLocation['locationCode'] }} Tech - {{ now.techID['technicianName'] }}</a>
                {% endfor %}
              </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
    </div>
  </div>
</div>