{% include 'includes/header.twig' %}
  <div class="wrapper">
    {% include 'includes/nav.twig' %}
    <div class="page-wrapper">
    	<div class="col-lg-12">
    		{% block content %}{% endblock %}
    	</div>
	</div>
  </div>   
{% include 'includes/footer.twig' %}