{% extends "hello.twig" %}

{% block content %}
	<h1>Welcome to THIS On Call Rota - {{ "now"|date('d/m/Y') }}</h1>
	{% for location in locations %}
		<div class="col-lg-4 {{ location.locationCode }}">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">{{ location.locationName }}</h2>
				</div>
			<div class="panel-body">
			{% for entry in entrys if entry.onCallLocation['locationName'] == location.locationName %}
				<div class="col-lg-6">
					{% if entry.onCallPeriod %}
						<h3>PM</h3>
					{% else %}
						<h3>AM</h3>
					{% endif %}
					<a href="mailto:{{entry.techID['technicianEmail']}}">{{ entry.techID['technicianName'] }}</a>
				</div><!-- end col-lg-6 -->
			{% endfor %}
		</div>
			</div>
		</div><!-- end col-lg-4 -->
	{% endfor %}
{% endblock %}